api.toya-vtc.com {
    encode zstd gzip

    handle_path /static/* {
        root * /srv/toya/static
        file_server
    }

    handle_path /media/* {
        root * /srv/toya/media
        file_server
    }

    reverse_proxy toya-api:8000
}
